.cursor-pointer {
    cursor: pointer;
}
.card-bg {
    background-color: #00a65a;
    padding: 5px;
    width: 100%;
    overflow: hidden;
}
/*.card-tb {
    width: 100%;
}
.card-tr {
    width: 100%;
}
.card-td {
    width: 20%;
    padding: 5px;
}*/
.card-square {
    float: left;
    width: 20%;
    height: auto;
    padding: 5px;
}
.square-left {
    float: left;
    width: 50%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.square-right {
    float: right;
    width: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.square-hole {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
