.cursor-pointer {
    cursor: pointer;
}
.tooltip-inner {
    min-width: 100px;
}
.close-noticer {
    font-size: 20px;
}
.close-hover-parent:hover .close-hover {
    display : block;
}
.close-hover-parent {
    position: relative;
}
.close-hover {
    display: none;
    position: absolute;
    top: 18px;
    right: 10px;
}
.card-list {
    float: left;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.card-bg {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.drew-pool {
    overflow: hidden;
    position: relative;
}
.drew-square {
    float: left;
    width: 8%;
    padding: 2px;
    position: relative;
}
.card-square {
    float: left;
    width: 20%;
    padding: 5px;
    position: relative;
}
.card-square-mini {
    float: left;
    width: 20%;
    padding: 2px;
    position: relative;
}
.square-bg {
    width: 100%;
    border-radius: 3px;
}
.square-left {
    position: absolute;
    width: 50%;
    left: 0px;
    left: 10%;
    top: 0px;
}
.square-right {
    position: absolute;
    width: 50%;
    right: 0px;
    right: 10%;
    top: 0px;
}
.square-hole {
    width: 90%;
    position: absolute;
    left: 0px;
    top: 0px;
    left: 5%;
    top: 5%;
}
.reach {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.bingo-front {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.bingo-effect1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.bingo-effect2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.obj-spin-reverse {
  display: inline-block;
  -moz-animation: spin-reverse 2s infinite linear;
  -o-animation: spin-reverse 2s infinite linear;
  -webkit-animation: spin-reverse 2s infinite linear;
  animation: spin-reverse 2s infinite linear;
}
@-moz-keyframes spin-reverse {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(-359deg); }
}
@-webkit-keyframes spin-reverse {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-359deg); }
}
@-o-keyframes spin-reverse {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(-359deg); }
}
@-ms-keyframes spin-reverse {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(-359deg); }
}
@keyframes spin-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-359deg); }
}
